  <div style="padding:24px; background: #f0f2f5; min-height: 360px;">
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="12">
          <div class="balance-box total-balance-box">
            <!-- <h5>Total Balance</h5> -->
            <!-- <p>{{ getTotalBalance() }}</p> -->
            <p><nz-statistic [nzValue]="getTotalBalance() | number:'.8-8'" [nzTitle]="'Total Balance'"></nz-statistic></p>
          </div>
      </div>
      <div nz-col nzSpan="12">
        <div class="balance-box main-balance-box">
          <!-- <h5>Main Balance</h5> -->
          <!-- <p>{{balance}}</p> -->
          <p><nz-statistic [nzValue]="balance | number:'.8-8'" [nzTitle]="'Main Balance'"></nz-statistic></p>
        </div>
      </div>
    </div>
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="12">
          <div class="balance-box stake-balance-box">
            <!-- <h5>Stake Balance</h5> -->
            <!-- <p>{{stakeBalance}}</p> -->
            <p><nz-statistic [nzValue]="stakeBalance | number:'.8-8'" [nzTitle]="'Stake Balance'"></nz-statistic></p>
          </div>
      </div>
      <div nz-col nzSpan="12">
        <div class="balance-box reward-balance-box">
          <!-- <h5>Reward Balance</h5> -->
          <!-- <p>{{rewardBalance}}</p> -->
          <p><nz-statistic [nzValue]="rewardBalance | number:'.8-8'" [nzTitle]="'Reward Balance'"></nz-statistic></p>
        </div>
      </div>
    </div>
 
        
    <div nz-row>
      <nz-table #basicTable [nzData]="listOfData">
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td><img src="assets/images/b{{data.base}}t{{data.target}}.png"></td><!-- base가 1(main)이고 target이 2(stake)일 때, 그림파일명은 b1t2.png 이다 -->
            <td>{{ data.from }}</td>
            <td>{{ data.to }}</td>
            <!-- <td>{{ data.base}}</td>
            <td>{{ data.target}}</td> -->
            <td>{{getTransactionText(data.base, data.target , data.receive)}}</td>
            <td>{{ data.value | number:'.0-8' }}</td>
          </tr>
        </tbody>
      </nz-table> 
    </div> 
</div>
